[submodule "themes/dopetrope"]
	path = themes/dopetrope
	url = https://github.com/curtistimson/hugo-theme-dopetrope.git
[submodule "themes/minimal"]
	path = themes/minimal
	url = https://github.com/calintat/minimal
