<div class="align-left">

    {{ $.Scratch.Set "link" .RelPermalink }}
    
    {{ with .Params.link }} {{ $.Scratch.Set "link" . }} {{ end }}

    {{ with .Description }} {{ $.Scratch.Set "subheader" . }} {{ end }}
    
    <div class="row">
      <div class="row-item">
        <img src="{{ .Param "imageLg" }}">
        <!-- <img srcset="elva-fairy-320w.jpg 320w,
                 elva-fairy-480w.jpg 480w,
                 elva-fairy-800w.jpg 800w"
         sizes="(max-width: 320px) 280px,
                (max-width: 480px) 440px,
                800px"
         src="elva-fairy-800w.jpg" alt="Elva dressed as a fairy"> -->
      </div>
      <div class="row-item">
        <p class="title">{{ .Param "subtitle" }}</p>
        <h3 class="subtitle"><a href="{{ .Scratch.Get "link" }}">{{ .Title }}</a></h3>
        <p class="description">{{ $.Scratch.Get "subheader" }}</p>
        <h4>Course Duration: {{ .Param "duration" }}</h4>
        <button
          class="checkout-button pay-button"
          id="checkout-button-{{ .Param "sku" }}"
          role="link">
            Make a payment
        </button>
      </div>
    </div>
</div>
