<div class="align-left courses">

    {{ $.Scratch.Set "link" .RelPermalink }}
    
    {{ with .Params.link }} {{ $.Scratch.Set "link" . }} {{ end }}

    {{ with .Description }} {{ $.Scratch.Set "subheader" . }} {{ end }}
    
    <div class="row">
      <div class="row-item">
        <picture>
          <source src="{{ .Param "image" }}" type="image/webp">
          <img src="{{ .Param "imageLg" }}" alt="Freediving-{{ .Param "subtitle" }}">
        </picture>
      </div>
      <div class="row-item row-item-text">
        <p class="title"><a href="{{ .Scratch.Get "link" }}">{{ .Param "subtitle" }}</a></p>
        <h3 class="subtitle">{{ .Title }}</h3>
        <p class="description">{{ $.Scratch.Get "subheader" }}</p>
        <a
          href="{{ .Scratch.Get "link" }}"
          class="blue-button link"
          id="learn-more">
            Learn more 
        </a>
      </div>
    </div>
</div>
