<div class="item align-left">

    {{ $.Scratch.Set "link" .RelPermalink }}
    {{ with .Params.repo }}
        {{ $repoHost := default "github" $.Params.repoHost }}
        {{ if eq "github" $repoHost }}
            {{ printf "https://github.com/%s/%s/" $.Site.Params.githubUsername . | $.Scratch.Set "link" }}
        {{ else if eq "gitlab" $repoHost }}
            {{ printf "https://gitlab.com/%s/%s/" $.Site.Params.gitlabUsername . | $.Scratch.Set "link" }}
        {{ else if eq "bitbucket" $repoHost }}
            {{ printf "https://bitbucket.org/%s/%s/" $.Site.Params.bitbucketUsername . | $.Scratch.Set "link" }}
        {{ end }}
    {{ end }}
    {{ with .Params.link }} {{ $.Scratch.Set "link" . }} {{ end }}

    {{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006") | $.Scratch.Set "subheader" }}
    {{ with .Description }} {{ $.Scratch.Set "subheader" . }} {{ end }}

    <img src="{{ .Site.BaseURL }}{{ .Param "image" }}" />
    <div class="course-list-item">
      <h3>{{ $.Scratch.Get "subheader" }}</h4>
      <h4><a href="{{ .Scratch.Get "link" }}">{{ .Title }}</a></h3>
      <button
        style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
        class="checkout-button"
        id="checkout-button-{{ .Param "sku" }}"
        role="link">
          Checkout
      </button>

    </div>
    {{ partial "tags" . }}

</div>
