{{ partial "header" . }}

<main>

    <div>
        <h2 class="course-title">{{ .Param "subtitle" }} - {{ .Title }}</h2>
        {{ partial "tags" . }}
    </div>
    
    <picture>
      <source srcset="{{ .Param "image" }}" type="image/webp">
      <img src="{{ .Param "imageLg" }}" alt="Freediving-{{ .Param "subtitle" }}">
    </picture>

    <div align="start" class="content align-left">{{ .Content }}</div>
    
    <button
      class="checkout-button blue-button"
      id="checkout-button-{{ .Param "sku" }}"
      aria-label="Sign up"
      role="link">
        Sign up
    </button>

</main>

{{ partial "footer" . }}
